.App
{
color: aliceblue;
 text-align: center;
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoOam4wgW-Z-MlNaoc4uNnEeJ5wemqfL6UWA&usqp=CAU");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}